Source: statsdcc
Section: net
Priority: optional
Maintainer: Hervé BRY (setaou) <herve.bry@geneanet.org>
Build-Depends: debhelper (>= 9), cmake, libboost-dev, libssl-dev, libjsoncpp-dev, libmicrohttpd-dev, libboost-regex-dev, libgoogle-perftools-dev
Standards-Version: 4.1.2
Homepage: https://github.com/wayfair/statsdcc
Vcs-Git: https://github.com/wayfair/statsdcc.git
Vcs-Browser: https://github.com/wayfair/statsdcc

Package: statsdcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Statsd-compatible high performance network daemon.
 Statsdcc is a Statsd-compatible high performance multi-threaded network daemon written in C++.
 It aggregates stats and sends aggregates to backends.
